<div id="fb-root"></div>
<script>
(function(d){
  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/ja_JP/all.js";
  d.getElementsByTagName('head')[0].appendChild(js);
}(document));
</script>
<div id="login"></div>
